### Intersection
- The intersection() method returns a set that contains the similarity between two or more sets.
<img src='intersection.png'>

In [4]:
A = {1,3,5,6,7}
B = {1,3,2}
res = A.intersection(B)
res2 = B.intersection(A)
print(res)
print(res2)
print(A)
print(B)

{1, 3}
{1, 3}
{1, 3, 5, 6, 7}
{1, 2, 3}

In [8]:
# intersection_update()
A = {1,3,5,6,7}
B = {1,3,2}
res = A.intersection_update(B)
print(res)
print(A)

None
{1, 3}

In [9]:
res2 = B.intersection_update(A)
print(res2)

None

In [10]:
print(B)

{1, 3}

### Difference
<img src='difference.png'>

In [12]:
A = {'a','b','c','d'}
B = {'c','f','g'}
print(A-B)
print(B-A)

{'b', 'd', 'a'}
{'g', 'f'}

In [14]:
print(A.difference(B))
print(B.difference(A))

{'b', 'd', 'a'}
{'g', 'f'}

In [18]:
A = {1,2,3,4,5}
B = {2,3,4}
print(A-B)
print(B-A)
print(A)
print(B)

{1, 5}
set()
{1, 2, 3, 4, 5}
{2, 3, 4}

In [23]:
# difference_update()
A = {'a','b','c','d'}
B = {'c','f','g'}
res = A.difference_update(B)
res2 = B.difference_update(A)
print(res)
print(A)
print(res2)
print(B)

None
{'b', 'd', 'a'}
None
{'c', 'g', 'f'}

### Symmetric_difference
- The symmetric difference of two sets A and B is the set of elements that are in either A or B,but not in their intersectoin.
<img src='symmetric_diff.png'>

In [25]:
A = {'a','b','c','d'}
B = {'c','d','e'}
print(A.symmetric_difference(B))
print(A)

{'e', 'a', 'b'}
{'b', 'c', 'd', 'a'}

In [26]:
A = {'a','b','c','d'}
B = {'c','d','e'}
print(A.symmetric_difference_update(B))
print(A)

None
{'e', 'a', 'b'}

In [4]:
lst = [1,2,3,[4,5,6,7,[8,9],10],11,12]
print(len(lst))

6

In [5]:
print(lst[3])

[4, 5, 6, 7, [8, 9], 10]

In [6]:
print(lst[3][0])

4

In [7]:
print(lst[3][0:4])

[4, 5, 6, 7]

In [8]:
print(lst[3][4])

[8, 9]

In [9]:
print(lst[3][4][0])

8

In [10]:
print(lst[3][4][1])

9

## Dictionaries
- It stores collection of various types of data
- It is changeable
- Dictionaries have pair of keys and values which is seperated with ':'.
- keys are act as an index of values in dictionary
- Keys in dictionary are unique
- It is represented as flower brackets. Ex:dict={}

In [11]:
s = {}
type(s)

dict

In [14]:
s = set()
type(s)

set

In [12]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [15]:
dic = {'key1':1,'key2':2}
type(dic)

dict

In [16]:
dic = {'name':'keerthi','grade':'D','age':22}
print(dic)

{'name': 'keerthi', 'grade': 'D', 'age': 22}

In [19]:
dic['name']

'keerthi'

In [18]:
dic['grade']

'D'

In [20]:
# changeable(mutable)
dic['name'] = 'prasanna'
dic

{'name': 'prasanna', 'grade': 'D', 'age': 22}

In [21]:
print(dir(dic))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [22]:
dic['name']

'prasanna'

In [23]:
# get()
dic.get('grade')

'D'

In [24]:
dic.keys()

dict_keys(['name', 'grade', 'age'])

In [25]:
dic.values()

dict_values(['prasanna', 'D', 22])

In [26]:
for i in dic.keys():
    print(i)

name
grade
age

In [27]:
for i in dic.values():
    print(i)

prasanna
D
22

In [28]:
dic.items()

dict_items([('name', 'prasanna'), ('grade', 'D'), ('age', 22)])

In [29]:
for i in dic.items():
    print(i)

('name', 'prasanna')
('grade', 'D')
('age', 22)

In [30]:
# update()
dic.update({'marks':200,'ph':1234})

In [31]:
dic

{'name': 'prasanna', 'grade': 'D', 'age': 22, 'marks': 200, 'ph': 1234}

In [33]:
# fromkeys()
x = ('key1','key2','key3')
y = 0
dic2 = dict.fromkeys(x,y)
dic2

{'key1': 0, 'key2': 0, 'key3': 0}

In [34]:
dic2['key1']='kalyan'

In [35]:
dic2

{'key1': 'kalyan', 'key2': 0, 'key3': 0}

In [36]:
x = ('key1','key2','key3')
dic3 = dict.fromkeys(x)
dic3

{'key1': None, 'key2': None, 'key3': None}

In [37]:
dic3['key3']=13
dic3

{'key1': None, 'key2': None, 'key3': 13}

In [38]:
# pop()
dic.pop('age')

22

In [39]:
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'ph': 1234}

In [40]:
# popitem()
dic.popitem()
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200}

In [41]:
# setdefault()
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200}

In [42]:
dic.setdefault('age')
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': None}

In [43]:
dic['age'] = 20
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': 20}

In [44]:
dic.setdefault('branch','eee')
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': 20, 'branch': 'eee'}

In [45]:
# copy()
dic2 = dic.copy()

In [46]:
dic2

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': 20, 'branch': 'eee'}

In [47]:
dic

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': 20, 'branch': 'eee'}

In [48]:
dic.clear()

In [49]:
dic

{}

In [50]:
dic2

{'name': 'prasanna', 'grade': 'D', 'marks': 200, 'age': 20, 'branch': 'eee'}

### Nested Dictionary
1. Dictionary of List
2. Dictionary of Dictionary

In [51]:
### Dictionary of List
dic = {'std1':['prasanna',100,'cse'],'student2':['pavan',101,'ece'],'std3':['kalyan',104,'cse']}
dic

{'std1': ['prasanna', 100, 'cse'],
 'student2': ['pavan', 101, 'ece'],
 'std3': ['kalyan', 104, 'cse']}

In [52]:
dic['std1']

['prasanna', 100, 'cse']

In [53]:
dic['std1'][0]

'prasanna'

In [54]:
dic['std1'][2]

'cse'

### 2. Dictionary of Dictionary

In [55]:
dic = {'std1':{'prasanna',100,'cse'},'student2':{'pavan',101,'ece'},'std3':{'kalyan',104,'cse'}}
dic

{'std1': {100, 'cse', 'prasanna'},
 'student2': {101, 'ece', 'pavan'},
 'std3': {104, 'cse', 'kalyan'}}

In [56]:
dic['std1']

{100, 'cse', 'prasanna'}

In [ ]:
# Assignments-- Task1
# 1.Write a python program to concatenate following dictionaries to create a new one.
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}

In [ ]:
# Task2
# 2. Write a python program to add a key to a dictionary
# input :
d = {1:10,2:20}

In [ ]:
# task 3
# word frequency
#input :
lst = [1,2,3,4,1,1,2,2,2,4]
# output
{1:3,2:4,3:1,4:2}